@media screen and (min-width: 768px) {
    .vfrc-widget--launcher {
        position: fixed;
        left: 300px;  /* Przesunięcie z prawej na lewą */
        bottom: 800px;
        right: auto;  /* Dodane aby usunąć prawy offset */
    }
}

@media screen and (max-width: 767px) {
    .vfrc-widget--launcher {
        position: fixed;
        left: 15px;  /* Przesunięcie z prawej na lewą */
        bottom: 120px;
        right: auto;  /* Dodane aby usunąć prawy offset */
    }
}
